<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Play rosbag record -->
    <!--include file="$(find lidar_camera_calibration)/launch/play_rosbag.launch"></include-->
    <!--include file="$(find darknet_ros)/launch/yolo_v4.launch"></include-->
    <!-- Wire static transform from the world to velodyne frame -->
    <!-- Fill args below with estimated transform X Y Z Y P R -->
    <arg name="bagfile" default="static.bag"/>
    <node
        pkg="rosbag"
        type="play"
        name="player"
        args="--clock --loop $(find lidar_camera_calibration)/bagfiles/$(arg bagfile)" />
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="world_velodyne_tf"
        output="screen"
        args="-0.06485756 -0.05683201 -0.10448115 3.1409457979447306 -0.01855264674509845 -1.5478010455633737 world velodyne" />

    <!-- Run sensor fusion script -->
    <node   
        pkg="sensor_fusion"
        type="sensor_fusion_node.py"
        name="sensor_fusion"
        output="screen" />

    <!--node   
        pkg="lidar_obstacle_detector"
        type="obstacle_detect_node.py"
        name="lidar_obstacle_detector"
        output="screen" /-->

    <!-- Launch detector -->
    <include file="$(find timed_roslaunch)/timed_roslaunch.launch">
        <arg name="time" value="2" />
        <arg name="pkg" value="lidar_obstacle_detector" />
        <arg name="file" value="rover.launch" />
    </include>

    <include file="$(find timed_roslaunch)/timed_roslaunch.launch">
        <arg name="time" value="4" />
        <arg name="pkg" value="darknet_ros" />
        <arg name="file" value="yolo_v4.launch" />
    </include>
    <!-- <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="2 lidar_obstacle_detector rover.launch" name="timed_roslaunch" output="screen" /> -->
    <!-- <include file="$(find lidar_obstacle_detector)/launch/rover.launch"/>    

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="2 darknet_ros yolo_v4.launch" name="timed_roslaunch" output="screen" /> -->

    <!-- Launch YOLO -->
    <!-- <include file="$(find darknet_ros)/launch/yolo_v4.launch" launch-prefix="bash -c 'sleep 4; $0 $@' "/> -->
</launch>
